img {
  width: 160px;
  height: 160px;
  display: block;
  margin-top: 10px;
  padding: 15px;
}

.mat-card {
  width: 100%;
}

mat-form-field {
  padding: 10px;
}

mat-input {
  color: black;
}

button {
  margin-top: 25px;
  padding: 10px 20px;
  text-align: center;
}
