.container {
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
}

.material-icons {
  font-size: 10vh;
}

.arrow-button {
  border: none;
  color: black;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
