<div>
  <mat-card fxShow.lt-lg="false">
    <mat-card-content fxLayout='row' fxLayoutAlign='space-between center'>

      <div class='icons'>
        <mat-icon [inline]="true" (click)='goBehind()'>chevron_left</mat-icon>
      </div>

      <cav-latest-mini-card
        *ngFor="let advertisement of latestAdvertisements?.slice(start,end)"
        [advertisement]="advertisement" [images]="advertisement?.property?.images">
      </cav-latest-mini-card>

      <div class='icons'>
        <mat-icon [inline]="true" (click)='goForward()'>chevron_right</mat-icon>
      </div>

    </mat-card-content>
  </mat-card>
</div>
