mat-card {
  height: 300px;
  border-radius: 4px;
  margin: 0 10px;
  text-align: center;
  vertical-align: middle;
}

form {
  height: 100%;
}

.select-container {
  width: 100px;
  margin-right: 15px;
  padding: 0px;
}

.mat-input-element {
  color: black;
}
