<mat-card>
  <form [formGroup]="contactDetailsForm" fxLayout="column" fxLayoutAlign="space-between">

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field appearance="fill" class="select-container">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="phone">Phone</mat-option>
          <br>
          <mat-option value="mobile">Mobile</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Phone 1</mat-label>
        <input matInput type="text" formControlName="mobile">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field appearance="fill" class="select-container">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="phone">Phone</mat-option>
          <br>
          <mat-option value="mobile">Mobile</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Phone 2</mat-label>
        <input matInput type="text" formControlName="phone">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-icon id="mail-icon">mail</mat-icon>
      <mat-form-field class="example-form-field">
        <mat-label>Mail</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
    </div>
  </form>
</mat-card>
