img {
  width: 100px;
}

mat-card {
  height: 200px;
  border-radius: 4px;
  margin: 0 10px;
}

mat-card-title {
  padding-top: 30px;
}

.active {
  color: #28a745;
}

.disactive {
  color: #ffc107;
}

img.disactive {
  filter: grayscale(100%);
}
