table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #6d7ede;
}

tr.element-row:not(.expanded-row):active {
  background: #6d7ede;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  height: 450px;
}

#add-button {
  padding: 8px;
}

.detail {
  height: auto;
}

.mat-card {
  padding: 5%;
  border: 1px solid whitesmoke;
}

@media screen and (max-width: 319px) {
  .element-diagram {
    height: 105%;
  }
}

@media screen and (min-width: 320px) and (max-width: 960px) {
  .element-diagram {
    height: 105%;
  }
}
