table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: grey;
}

tr.element-row:not(.expanded-row):active {
  background: grey;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  padding: 8px;
  margin: 8px 0;
  height: 104px;
}
