<!--
<div class="content" fxLayout="row" fxLayoutAlign="space-between end">
  <mat-card class="card">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between end">
      <mat-card-header>
        <mat-card-title>Card</mat-card-title>
      </mat-card-header>
    </div>
    <cav-photogallery></cav-photogallery>
    <mat-card-content class="card-contents">

      <cav-dates></cav-dates>
      <cav-favourite></cav-favourite>
      <cav-score></cav-score>
      <div fxLayout="column" fxLayoutAlign="center center">
        <cav-facility></cav-facility>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <div>
        <cav-book-button></cav-book-button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

-->

<!-- altra card sotto-->

<div class="content" fxLayout="row" fxLayoutAlign="space-between end">
  <mat-card class="card">

    <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutWrap="wrap">

      <cav-photogallery></cav-photogallery>
      <cav-facility></cav-facility>
      <cav-dates></cav-dates>
      <mat-card-title>Card</mat-card-title>
      <cav-favourite></cav-favourite>
      <cav-score></cav-score>


    </div>

    <div fxLayout layout="row" layout-align="center center">
      <cav-book-button></cav-book-button>
    </div>
  </mat-card>
</div>
