<cav-latest-container [advertisements]='advertisements' [maxAdv]='8'></cav-latest-container>
<div fxLayout="row" fxLayoutAlign="center none" id="body">
  <cav-sidebar-container class="sidebar">
  </cav-sidebar-container>
  <div id="divider"></div>
  <cav-advertisement-list [advertisements]="filteredAdvertisements">
  </cav-advertisement-list>
  <h1 id="emptylist" fxLayoutAlign="center center"
    *ngIf="filteredAdvertisements.length === 0"> Nessun annuncio corrisponde ai criteri di
    ricerca
  </h1>
</div>
