<div>
  <mat-icon>tv</mat-icon>
  <mat-label> TV</mat-label> <br>

  <mat-icon>wifi</mat-icon>
  <mat-label> Wifi</mat-label> <br>

  <mat-icon>hotel</mat-icon>
  <mat-label> Beds</mat-label> <br>

  <mat-icon>local_parking</mat-icon>
  <mat-label> Parking</mat-label> <br>

  <mat-icon>free_breakfast</mat-icon>
  <mat-label> Breakfast included</mat-label> <br>

  <mat-icon>countertops</mat-icon>
  <mat-label> Kitchen</mat-label> <br>

  <mat-icon>hot_tub</mat-icon>
  <mat-label> Shower</mat-label> <br>
</div>
