<div class="content" fxLayout="row" fxLayoutAlign="space-between end">
  <mat-card>

    <mat-card-content fxLayout fxLayout.xs="column" fxLayoutAlign="space-between"
      fxLayoutWrap="wrap">

      <cav-photogallery></cav-photogallery>
      <cav-facilities-container></cav-facilities-container>

      <mat-card-actions>
        <mat-card-title>{{advertisement?.property[0]?.title}}</mat-card-title>
        <cav-score></cav-score>
        <cav-check-in-check-out></cav-check-in-check-out>
      </mat-card-actions>

      <cav-favourite></cav-favourite>

    </mat-card-content>

    <button mat-raised-button color="accent" (click)="emitStatus()">More Info
      <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-raised-button class="button">Book</button>
  </mat-card>

</div>
