<div class="content" fxLayout="row" fxLayoutAlign="space-between end">
  <mat-card>

    <mat-card-content fxLayout fxLayout.xs="column" fxLayoutAlign="space-between"
      fxLayoutWrap="wrap">

      <cav-photogallery></cav-photogallery>
      <cav-facilities-container></cav-facilities-container>

      <mat-card-actions>
        <mat-card-title>Advert</mat-card-title>
        <cav-score></cav-score>
        <cav-dates></cav-dates>
        <cav-book-button></cav-book-button>
      </mat-card-actions>

      <cav-favourite></cav-favourite>

    </mat-card-content>
    <button mat-raised-button color="accent">More Info</button>
  </mat-card>
</div>
