.facility-filter {
  margin-left: 2%;
}

#facility-card {
  width: 180px;
  background-color: grey;
}

#facility-card-title {
  font-size: 14pt;
  color: black;
}

.facility-checkbox {
  font-size: 12pt;
  margin-top: 5%;
}

#facility-more {
  margin-top: 10%;
  font-size: 12pt;
}

#facility-less {
  margin-top: 10%;
  font-size: 12pt;
}
