.facility-filter {
  margin-left: 2%;
}

.facility-card {
  width: 200px;
  background-color: #f5f5f5;
}

#facility-card-title {
  font-size: 14pt;
  color: black;
}

#facility-divider {
  border-top-color: black;
  margin-bottom: 8%;
}

:host ::ng-deep .facility-checkbox .mat-checkbox-frame {
  border-color: black;
  border-radius: 20%;
}

.facility-checkbox {
  font-size: 12pt;
  margin-top: 5%;
  color: black;
}

#facility-more {
  margin-top: 10%;
  font-size: 12pt;
  color: black;
  cursor: pointer;
}

#facility-less {
  margin-top: 10%;
  font-size: 12pt;
  color: black;
  cursor: pointer;
}
