<div id="facilities-container" fxLayout fxLayout.xs="column" fxLayoutAlign="space-between"
  fxLayoutWrap="wrap">
  <div class="side" fxFlex="49%">
    <div fxLayout="row">
      <i id="done" class="material-icons">done</i>
      <p>TV</p>
    </div>
    <div fxLayout="row">
      <i id="done" class="material-icons">done</i>
      <p>WIFI</p>
    </div>
    <div fxLayout="row">
      <i id="clear" class="material-icons">clear</i>
      <p>Breakfast included</p>
    </div>
    <div fxLayout="row">
      <i id="clear" class="material-icons">clear</i>
      <p>Parking</p>
    </div>
  </div>

  <div class="aside" fxFlex="49%">
    <div fxLayout="row">
      <i id="clear" class="material-icons">clear</i>
      <p>Kitchen</p>
    </div>
    <div fxLayout="row">
      <i id="done" class="material-icons">done</i>
      <p>Shower</p>
    </div>
    <div fxLayout="row">
      <i id="clear" class="material-icons">clear</i>
      <p>Bath</p>
    </div>
  </div>
</div>
