<div class="score-filter">
  <mat-card id="score-card" fxLayout="column">
    <mat-card-title id="score-card-title" fxLayoutAlign="start center">
      Review score
    </mat-card-title>
    <mat-card-content>
      <mat-divider id="score-divider" [inset]="true"></mat-divider>
      <div class="score-checkbox">
        <mat-checkbox>Superb: 9+</mat-checkbox>
        <mat-checkbox>Very good: 8+</mat-checkbox>
        <mat-checkbox>Good: 7+</mat-checkbox>
        <mat-checkbox>Pleasant: 6+</mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>
</div>
