.score-filter {
  margin-left: 2%;
}

#score-card {
  width: 180px;
  background-color: grey;
}

#score-card-title {
  font-size: 14pt;
  color: black;
}

.score-checkbox {
  font-size: 12pt;
  margin-top: 5%;
}

#score-more {
  margin-top: 10%;
  font-size: 12pt;
}
