<mat-toolbar>
  <span>{{isEditLandlord ? 'Edit' : 'Add'}} Landlord</span>
</mat-toolbar>

<form [formGroup]="landlordForm">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutAlign="center center" id="picture-container">
      <img [src]="landlordForm.value.picture">
      <button mat-button
        (click)="togglePictureContainer = !togglePictureContainer">Change</button>

      <div id="select-picture" *ngIf="togglePictureContainer" fxLayout="column"
        fxLayoutAlign="center">
        <mat-form-field>
          <mat-label>Insert a new picture</mat-label>
          <input matInput placeholder="New picture" formControlName="picture">
        </mat-form-field>
      </div>
    </div>

    <div>
      <div fxLayout="row" fxLayoutAlign="space-between" id="name-container">
        <h2>
          {{landlord?.fullName}}
        </h2>
        <h2>
          Username: {{landlord?.username}}
        </h2>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="50px">
        <mat-card fxLayout="column" fxLayoutAlign="space-between">
          <mat-form-field>
            <mat-label>FirstName</mat-label>
            <input matInput type="text" formControlName="firstName">
            <mat-error *ngIf="landlordForm.get('firstName')?.hasError('required')">
              Input required
            </mat-error>
            <mat-error *ngIf="landlordForm.get('firstName')?.hasError('minlength')">
              Invalid First Name, need to be at least 2 characters long
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>MiddleName</mat-label>
            <input matInput type="text" formControlName="middleName">
          </mat-form-field>

          <mat-form-field>
            <mat-label>LastName</mat-label>
            <input matInput type="text" formControlName="lastName">
            <mat-error *ngIf="landlordForm.get('lastName')?.hasError('required')">
              Input required
            </mat-error>
            <mat-error *ngIf="landlordForm.get('lastName')?.hasError('minlength')">
              Invalid Last Name, need to be at least 2 characters long
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Date Of Birth</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate"
              formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-card>


        <mat-card fxLayout="column" fxLayoutAlign="space-between">
          <mat-form-field>
            <mat-label>Line 1</mat-label>
            <input matInput type="text" formControlName="line1">
            <mat-error *ngIf="landlordForm.get('line1')?.hasError('required')">
              Input required
            </mat-error>
            <mat-error *ngIf="landlordForm.get('line1')?.hasError('minlength')">
              Invalid address line 1 provided, need to be at least 4 characters long
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Line 2</mat-label>
            <input matInput type="text" formControlName="line2">
          </mat-form-field>

          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city">
            <mat-error *ngIf="landlordForm.get('city')?.hasError('required')">
              Input required
            </mat-error>
            <mat-error *ngIf="landlordForm.get('city')?.hasError('minlength')">
              Invalid City name, need to be at least 4 characters long
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput type="text" formControlName="state">
            <mat-error *ngIf="landlordForm.get('state')?.hasError('required')">
              Input required
            </mat-error>
            <mat-error *ngIf="landlordForm.get('state')?.hasError('minlength')">
              Invalid State name, need to be at least 4 characters long
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Zip Code</mat-label>
            <input matInput type="text" formControlName="zipCode">
            <mat-error *ngIf="landlordForm.get('zipCode')?.hasError('required')">
              Input required
            </mat-error>
            <mat-error *ngIf="landlordForm.get('zipCode').value.length !== 5">
              Zip Code, must be 5 characters long
            </mat-error>
          </mat-form-field>
        </mat-card>


        <mat-card fxLayout="column" fxLayoutAlign="space-between">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="fill" class="select-container">
              <mat-label>Select</mat-label>
              <mat-select formControlName="phoneType1">
                <mat-option value="home">Home</mat-option>
                <mat-option value="mobile">Mobile</mat-option>
                <mat-option value="work">Work</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Phone 1</mat-label>
              <input matInput type="text" formControlName="phone1">
              <mat-error *ngIf="landlordForm.get('phone1')?.hasError('required')">
                Input required
              </mat-error>
              <mat-error *ngIf="landlordForm.get('phone1')?.hasError('minlength')">
                Invalid Phone number, need to be at least 6 characters long
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="fill" class="select-container">
              <mat-label>Select</mat-label>
              <mat-select formControlName="phoneType2">
                <mat-option value="home">Home</mat-option>
                <mat-option value="mobile">Mobile</mat-option>
                <mat-option value="work">Work</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Phone 2</mat-label>
              <input matInput type="text" formControlName="phone2">
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-icon id="mail-icon">mail</mat-icon>
            <mat-form-field>
              <mat-label>Mail</mat-label>
              <input matInput type="text" formControlName="email">
              <mat-error *ngIf="landlordForm.get('email')?.hasError('required')">
                E-mail is required
              </mat-error>
              <mat-hint>Example test@mail.com</mat-hint>
              <mat-error *ngIf="landlordForm.get('email')?.hasError('email')">
                Invalid Email
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card>
      </div>

      <div id="buttons-container" fxLayout="row" fxLayoutAlign="end">
        <button id="buttons-save" mat-raised-button [disabled]="!validateForm()"
          (click)="updateLandlord()" color="primary">
          <span class="material-icons">check_circle</span> Save
        </button>

        <button id="buttons-reset-password" mat-raised-button color="accent"
          (click)="toggleResetPasswordContainer = !toggleResetPasswordContainer">
          <span class="material-icons">vpn_key</span>
          {{isEditLandlord ? 'Reset ' : 'Add '}} Password
        </button>

        <button id="buttons-cancel" mat-raised-button (click)="goBack()" color="warn">
          <span class=" material-icons">clear</span> Cancel
        </button>
      </div>

      <div fxLayoutAlign="end">
        <div id="reset-password-container" fxLayout="column"
          *ngIf="toggleResetPasswordContainer">
          <h2>Change Password</h2>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <mat-hint>Minimum 8 characters</mat-hint>
            <input matInput [type]="hidePassword ? 'password' : 'text'"
              formControlName="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="landlordForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="landlordForm.get('password')?.hasError('minlength')">
              Password is at least 8 characters long
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword">
            <button mat-icon-button matSuffix
              (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideConfirmPassword">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>
            <mat-error
              *ngIf="landlordForm.get('password') !== landlordForm.get('confirmPassword')">
              Passwords must be the same
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
