<div class="score-filter">
  <mat-card class="score-card" fxLayout="column">
    <mat-card-title id="score-card-title" fxLayoutAlign="start center">
      Review score
    </mat-card-title>
    <mat-card-content>
      <mat-divider id="score-divider" [inset]="true"></mat-divider>
      <div class="score-checkbox-container">
        <mat-radio-group>
          <mat-radio-button (change)="emitFilter($event.value)" value="1">Superb: 9+
          </mat-radio-button>
          <mat-radio-button (change)="emitFilter($event.value)" value="2">Very good: 8+
          </mat-radio-button>
          <mat-radio-button (change)="emitFilter($event.value)" value="3">Good: 7+
          </mat-radio-button>
          <mat-radio-button (change)="emitFilter($event.value)" value="4">Pleasant: 6+
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>
