<mat-card>
  <mat-card-title>
    Address
  </mat-card-title>

  <mat-card-content>
    <mat-card-subtitle>
      <span>Line 1: </span>{{address?.line1}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span>Line 2: </span>{{address?.line2}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span>City: </span>{{address?.city}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span>State: </span>{{address?.state}}
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span>Postal Code: </span>{{address?.postCode}}
    </mat-card-subtitle>


  </mat-card-content>
</mat-card>
