.price-card {
  width: 200px;
  margin-bottom: 50px;
}

#price-card-title {
  font-size: 14pt;
}

#price-divider {
  border-top-color: black;
  margin-bottom: 12%;
}

#price-min {
  float: left;
}

#price-max {
  float: right;
}

mat-card-actions {
  margin-top: -12%;
}

mat-card-content {
  height: 100px;
}

