.score-filter {
  margin-left: 2%;
}

.score-card {
  width: 200px;
}

#score-card-title {
  font-size: 14pt;
}

.score-checkbox-container {
  margin-top: 5%;
}

mat-radio-button {
  font-size: 12pt;
  margin-top: 3%;
}
