.price-filter {
  margin-left: 2%;
}

.price-card {
  width: 200px;
}

#price-card-title {
  font-size: 14pt;
}

#price-divider {
  margin-bottom: 12%;
}

#price-min {
  float: left;
}

#price-max {
  float: right;
}
