<div class="price-filter">
  <mat-card class="price-card" fxLayout="column">
    <mat-card-title id="price-card-title" fxLayoutAlign="start center">
      Price per night
    </mat-card-title>
    <mat-card-content>
      <mat-divider id="price-divider" [inset]="true">
      </mat-divider>
      <mat-slider id="price-slider" thumbLabel [displayWith]="formatLabel"
        min="{{ minPrice }}" max="{{ maxPrice }}" step="10" fxLayoutAlign="center center">
      </mat-slider>
      <p id="price-min">{{ minPrice | currency:'EUR':'symbol':'.0'}}</p>
      <p id="price-max">{{ maxPrice | currency:'EUR':'symbol':'.0'}}</p>
    </mat-card-content>
  </mat-card>
</div>
