#search-area {
  width: 100%;
  height: 12vh;
  padding: 2%;
}

.mat-form-field {
  padding: 2%;
  margin-left: 20%;
  width: 20vw;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.mat-radio-button {
  padding: 5%;
}
