#card-extra {
  align-items: flex-end;
  margin-top: 20px;
}

.container-more-info {
  border-top: solid 3px;
  padding-top: 3%;
}

cav-review {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
