<div *ngIf="!this.media.isActive('xs'); else mobileView">
  <mat-card id="card-extra">

    <div class="container-more-info" fxLayout fxLayout.xs="column"
      fxLayoutAlign="space-between" fxLayoutWrap="wrap">


      <mat-card class="side" fxFlex="42%">
        <h2>Most recent reviews</h2>
        <cav-review *ngFor="let review of advertisement?.reviews" [review]="review">
        </cav-review>


        <button mat-raised-button color="primary" (click)="showAllReviews()"
          *ngIf="advertisement?.reviews?.length>3">Show all
          Reviews</button>
      </mat-card>


      <mat-card class="aside" fxFlex="58%">
        <h2>About this property</h2>
        <cav-about [property]="advertisement?.property"></cav-about>
        <h4>Facilities</h4>
        <mat-divider [inset]="true"></mat-divider>

        <cav-facilities [facilities]="advertisement?.property?.facilities">

        </cav-facilities>
      </mat-card>

    </div>
  </mat-card>
</div>

<ng-template #mobileView>
  <mat-card id="card-extra">

    <div class="container-more-info" fxLayout fxLayout.xs="column"
      fxLayoutAlign="space-between" fxLayoutWrap="wrap">

      <mat-card>
        <h2>Most recent reviews</h2>
        <cav-review *ngFor="let review of advertisement?.reviews" [review]="review">
        </cav-review>
        <button mat-raised-button color="primary" (click)="showAllReviews()"
          *ngIf="advertisement?.reviews?.length>3">Show all
          Reviews</button>
      </mat-card>

      <mat-card fxFlex="40%">
        <h2>About this property</h2>
        <cav-about [property]="advertisement?.property"></cav-about>
        <h4>Facilities</h4>
        <mat-divider [inset]="true"></mat-divider>

        <cav-facilities [facilities]="advertisement?.property?.facilities">

        </cav-facilities>
      </mat-card>

    </div>
  </mat-card>
</ng-template>
