<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{tenant?.picture}}" alt="{{tenant?.fullName}} picture">

    <mat-label>Status: <strong [ngClass]="(tenant?.status)?'active':'disactive'">
        {{tenant?.status ? 'ACTIVE' : 'DISACTIVE'}}</strong></mat-label>
  </mat-card-header>

  <mat-card-content fxLayoutAlign='center'>
    <form [formGroup]='tenantForm' fxLayout='row'>
      <div fxLayout='column'>

        <mat-label>First Name:<input type="text" formControlName='firstName' readonly>
        </mat-label>

        <mat-label>Last Name:<input type="text" formControlName='lastName' readonly>
        </mat-label>

        <mat-label>Email:<input type="text" formControlName='email' readonly></mat-label>

        <mat-label>Username:<input type="text" formControlName='username' readonly>
        </mat-label>

        <mat-label>Date of Birth:<input type="text" formControlName='dateOfBirth'>
        </mat-label>

      </div>
      <div fxLayout='column'>
        <mat-label>Line 1:<input type="text" formControlName='line1' readonly></mat-label>

        <mat-label>Line 2:<input type="text" formControlName='line2' readonly></mat-label>

        <mat-label>City: <input type="text" formControlName='city' readonly></mat-label>

        <mat-label>State:<input type="text" formControlName='state' readonly></mat-label>

        <mat-label>Zip Code:<input type="text" formControlName='zipCode' readonly>
        </mat-label>

      </div>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">

    <button mat-raised-button color="primary" disabled
      routerLink="/manager/tenant/edit/{{tenant?.id}}">Edit</button>

    <button mat-raised-button color="accent"
      (click)="openDialog(tenant.status ? 'deactivate' : 'activate')">{{tenant?.status ? 'Deactivate' : 'Activate'}}</button>

    <button mat-raised-button color="warn" (click)="openDialog('delete')">Delete</button>

  </mat-card-actions>
</mat-card>
