img {
  width: 130px;
  height: 130px;
  display: block;
}

.active {
  color: #28a745;
}

.disactive {
  color: #ffc107;
}

mat-card-subtitle {
  color: black;
}

mat-card-subtitle span {
  color: rgb(31, 31, 31);
  font-weight: bold;
}

mat-card-title {
  margin: 2%;
}

mat-card-header {
  margin: 2%;
}
