<div id="primary-container">
  <div>
    <mat-toolbar>
      <span>Edit Landlord</span>
    </mat-toolbar>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" id="secondary-container">
    <div id="picture-change">
      <img [src]="landlord.picture">
      <button mat-button>Change</button>
    </div>
    <div>
      <div fxLayout="row" fxLayoutAlign="space-between" id="name-container">
        <h2>
          {{landlord.fullName}}
        </h2>

        <h2>
          Username: {{landlord.username}}
        </h2>
      </div>
      <div id="cav-container" fxLayout="row">
        <cav-personal-details [landlord]="landlord"></cav-personal-details>
        <cav-address-details [landlord]="landlord"></cav-address-details>
        <cav-contact-details [landlord]="landlord"></cav-contact-details>

      </div>
      <div id="cav-buttons-container" fxLayout="row" fxLayoutAlign="end center">
        <cav-buttons-container>
        </cav-buttons-container>
      </div>
    </div>
  </div>
</div>
