<div id="primary-container">
  <div>
    <mat-toolbar>
      <span>Edit Landlord</span>
    </mat-toolbar>
  </div>

  <div fxLayout="row" fxLayoutAlign="center start" id="secondary-container">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"
      id="picture-container">
      <div>
        <img [src]="landlord.picture">
      </div>

      <div>
        <button mat-button (click)="openPictureContainer()">Change</button>
      </div>

      <div>
        <div id="select-picture" *ngIf="togglePictureContainer" fxLayout="column"
          fxLayoutAlign="center">
          <mat-form-field>
            <mat-label>Insert a new picture</mat-label>
            <input matInput placeholder="New picture" [formControl]="picture">
          </mat-form-field>
          <button mat-button color="primary" (click)="updatePicture()">Confirm</button>
        </div>
      </div>
    </div>

    <div>
      <div fxLayout="row" fxLayoutAlign="space-between" id="name-container">
        <h2>
          {{landlord.fullName}}
        </h2>

        <h2>
          Username: {{landlord.username}}
        </h2>
      </div>

      <div fxLayout="row">
        <cav-personal-details [landlord]="landlord"></cav-personal-details>
        <cav-address-details [landlord]="landlord"></cav-address-details>
        <cav-contact-details [landlord]="landlord"></cav-contact-details>
      </div>

      <div id="cav-buttons-container" fxLayout="row" fxLayoutAlign="end">
        <cav-buttons-container [landlord]="landlord"
          (newPassword)="updatePassword($event)" (newLandlord)="updateLandlord()">
        </cav-buttons-container>
      </div>
    </div>
  </div>
</div>
