mat-toolbar {
  background-color: #424242;
}
img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 50px;
}

#primary-container {
  margin: 0px 10px;
}

#secondary-container {
  margin-top: 20px;
}

#name-container {
  margin-bottom: 20px;
}

#cav-buttons-container {
  margin-top: 2%;
}

#select-picture {
  background-color: whitesmoke;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  margin-left: 41px;
}
