mat-toolbar {
  background-color: #424242;
}
img {
  width: 150px;
  height: 30%;
  display: block;
  margin: 0 auto;
}

#primary-container {
  margin: 0px 10px;
}

#secondary-container {
  margin-top: 20px;
}

#name-container {
  margin-bottom: 20px;
}

#cav-buttons-container {
  margin-top: 2%;
}
