<div id="buttons-container" fxLayout="row" fxLayoutAlign="space-around">
  <button id="buttons-save" mat-raised-button (click)="updateLandlord()">
    <span class="material-icons">
      check_circle
    </span>
    Save
  </button>
  <button id="buttons-reset-password" mat-raised-button
    (click)="openResetPasswordContainer()">
    <span class="material-icons">
      vpn_key
    </span>
    Reset Password
  </button>
  <button id="buttons-cancel" mat-raised-button (click)="goBack()">
    <span class=" material-icons">
      clear
    </span>
    Cancel
  </button>
</div>

<div id="reset-password-container" *ngIf="toggleResetPasswordContainer">
  <h2>Change Password</h2>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
      [formControl]="confirmPassword">
    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
      <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button mat-button color="primary" (click)="updatePassword()"
    [disabled]="password.value !== confirmPassword.value">Confirm</button>
</div>
