button {
  padding: 10px 25px;
  text-align: center;
  vertical-align: auto;
  margin-right: 4%;
  min-width: auto;
}

#buttons-save {
  background-color: #106cc8;
}

#buttons-reset-password {
  background-color: #ff9800;
}

#buttons-cancel {
  background-color: #f4511e;
}

#reset-password-container {
  background-color: #424242;
  color: #f5f5f5;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}
