<div id="buttons-container" fxLayout="row" fxLayoutAlign="space-around">
  <button id="buttons-save" mat-raised-button>
    <span class="material-icons">
      check_circle
    </span>
    Save
  </button>
  <button id="buttons-reset-password" mat-raised-button>
    <span class="material-icons">
      vpn_key
    </span>
    Reset Password
  </button>
  <button id="buttons-cancel" mat-raised-button (click)="goBack()">
    <span class=" material-icons">
      clear
    </span>
    Cancel
  </button>
</div>
