button {
  padding: 10px 25px;
  text-align: center;
  vertical-align: auto;
  margin-right: 4%;
  min-width: auto;
}

#buttons-save {
  background-color: #106cc8;
}

#buttons-reset-password {
  background-color: #ff9800;
}

#buttons-cancel {
  background-color: #f4511e;
}

#reset-password-container {
  background-color: #fff;
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
