<div id="container">
  <div>
    <h1 md-display-4>{{landlord?.fullName}} details</h1>
  </div>

  <div id="cav-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="stretch">
    <cav-status fxFlex="10" [landlord]="landlord">
    </cav-status>
    <cav-contact fxFlex="30" id="contact-cav" [landlord]="landlord">
    </cav-contact>
    <cav-phone fxFlex="30" id="phone-cav" [landlord]="landlord"></cav-phone>
    <cav-address fxFlex="30" id="address-cav" [address]="landlord?.address">
    </cav-address>
  </div>

  <div id="buttons-container" fxLayout="row" fxLayoutGap="10px"
    fxLayoutAlign="space-around">
    <button routerLink="/manager/landlord/edit" mat-raised-button color="primary">
      Edit
    </button>

    <button mat-raised-button color="accent"
      (click)="openDialog(landlord?.status ? 'deactivate' : 'activate')">
      {{landlord?.status ? 'Deactivate' : 'Activate'}}
    </button>

    <button mat-raised-button color="warn" (click)="openDialog('delete')">
      Delete
    </button>
  </div>
</div>
