#container {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  height: 400px;
}

h1 {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 500;
  color: #000;
}

#button {
  padding: 1%;
}

@media screen and (max-width: 960px) {
  #container {
    background-color: whitesmoke;
    height: 100%;
  }
}
