#container {
  border: 1px solid whitesmoke;
  background-color: wheat;
  height: 350px;
}
#buttons-container {
  margin-top: 1%;
  float: right;
  width: 20%;
  margin-right: 1%;
}

button {
  padding: 10px 25px;
}
