<div class="content" fxLayout="row" fxLayoutAlign="space-between end">
  <mat-card>

    <mat-card-content fxLayout fxLayout.xs="column" fxLayoutAlign="space-between"
      fxLayoutWrap="wrap">

      <cav-photogallery [photo]="advertisement?.property?.imagesPath">
      </cav-photogallery>

      <div fxLayout="column">
        <cav-facility
          *ngFor="let facility of advertisement?.property?.facilities |keyvalue"
          [facility]="facility">
        </cav-facility>
      </div>

      <mat-card-title>{{advertisement?.property?.title}}</mat-card-title>
      <cav-score [score]="advertisement?.score()"></cav-score>
      <cav-check-in-check-out></cav-check-in-check-out>

      <cav-favourite (favouriteEvent)="isFavourite($event)"></cav-favourite>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="expandCardExtra()">More Info
        <mat-icon>{{!showCardExtra ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
        </mat-icon>
      </button>
    </mat-card-actions>

    <cav-card-extra *ngIf="showCardExtra" [advertisement]="advertisement">
    </cav-card-extra>
  </mat-card>

</div>
