mat-card {
  width: 100%;
  background-color: #f5f5f5;
}

mat-card-actions {
  max-width: 250px;
}

mat-card-title {
  margin-left: 11px;
  color: black;
}

.button {
  margin: 2px;
  width: 100px;
  background-color: green;
  float: right;
}
