<div *ngIf="!this.media.isActive('xs'); else mobileView">
  <mat-card>
    <mat-card-content>
      <div fxFlex='40%' fxLayout='row wrap'>
        <cav-photogallery id='photogallery' [images]='advertisement?.property?.images'>
        </cav-photogallery>
        <div id='facilities' fxLayout='column'>
          <cav-facility
            *ngFor='let facility of advertisement?.property?.facilities | keyvalue'
            [facility]='facility'>
          </cav-facility>
        </div>
      </div>

      <div fxFlex='55%' fxLayout='row wrap'>
        <div fxLayout='column'>
          <mat-card-title id='title'>{{advertisement?.property?.title}}</mat-card-title>
          <cav-score class='actions' [config]='scoreConfig'></cav-score>
          <cav-check-in-check-out class='actions'></cav-check-in-check-out>
        </div>
      </div>
      <cav-favourite fxFlex='5%' fxLayoutAlign='end'
        (favouriteEvent)='isFavourite($event)'></cav-favourite>
    </mat-card-content>

    <button mat-raised-button color='accent' (click)='showCardExtra = !showCardExtra'>
      {{showCardExtra ? "Hide" : "More Info"}}
      <mat-icon>
        {{showCardExtra ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </button>

    <cav-card-extra *ngIf='showCardExtra' [advertisement]='advertisement'>
    </cav-card-extra>
  </mat-card>
</div>

<ng-template #mobileView>
  <mat-card>
    <mat-card-content fxLayout='column' fxLayoutAlign='space-between center'>
      <mat-card-title fxLayoutAlign='center center'>
        {{advertisement?.property?.title}}
        <cav-favourite (favouriteEvent)='isFavourite($event)'></cav-favourite>
      </mat-card-title>

      <cav-score class='mobile-spacing' [config]='scoreConfig'></cav-score>

      <cav-photogallery class='mobile-spacing' [images]='advertisement?.property?.images'>
      </cav-photogallery>

      <div class='mobile-spacing'>
        <cav-facility
          *ngFor='let facility of advertisement?.property?.facilities |keyvalue'
          [facility]='facility'>
        </cav-facility>
      </div>

      <cav-check-in-check-out class='mobile-spacing'></cav-check-in-check-out>

      <button mat-raised-button color='accent' (click)='showCardExtra = !showCardExtra'>
        {{showCardExtra ? "Hide" : "More Info"}}
        <mat-icon>
          {{showCardExtra ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </button>
    </mat-card-content>
    <cav-card-extra *ngIf='showCardExtra' [advertisement]='advertisement'>
    </cav-card-extra>
  </mat-card>
</ng-template>
