#photogallery {
  margin-right: 20px;
}

#facilities {
  width: 150px;
  margin-right: 20px;
}

#actions-container {
  width: 500px;
  margin-right: 20px;
}

#title {
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 5px;
}
