mat-card {
  width: 100%;
}

mat-card-content {
  max-width: 100%;
}

mat-card-title {
  margin: 10px;
}

.button {
  margin: 2px;
  width: 100px;
  float: right;
}

#thirdColumn {
  margin-left: 3%;
}
