<div class="general">
  <div class="title">
    <mat-toolbar>
      <span>Search</span>
    </mat-toolbar>
  </div>
  <div class="inputs" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="4%"
    fxLayoutAlign="center center">
    <div id="i-style">
      <form id="i-form">
        <input type="search" placeholder="Name" [(ngModel)]="fullName" name="fullName"
          (ngModelChange)="onChange()" id="input" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <div *ngIf="fullName.length > 1">
            <mat-option *ngFor="let landlord of landlords$ | async"
              [value]="landlord.fullName.toLowerCase()">
              {{landlord.fullName}}
            </mat-option>
          </div>
        </mat-autocomplete>
      </form>
    </div>
    <div id="i-style">
      <form id="i-form">
        <input type="search" placeholder="Email" [(ngModel)]="email" name="email"
          (ngModelChange)="onChange()" id="input" [matAutocomplete]="mail">
        <mat-autocomplete #mail="matAutocomplete">
          <div *ngIf="email.length > 1">
            <mat-option *ngFor="let landlord of landlords$ | async"
              [value]="landlord.mail">
              {{landlord.mail}}
            </mat-option>
          </div>
        </mat-autocomplete>
      </form>
    </div>
    <div id="i-style">
      <form id="i-form">
        <input type="search" placeholder="Phone" [(ngModel)]="phone" name="phone"
          (ngModelChange)="onChange()" id="input" [matAutocomplete]="telephone">
        <mat-autocomplete #telephone="matAutocomplete">
          <div *ngIf="phone.length > 1">
            <mat-option *ngFor="let phone of phoneMatch$ | async" [value]="phone">
              {{phone}}
            </mat-option>
          </div>
        </mat-autocomplete>
      </form>
    </div>
  </div>
</div>
