form {
  padding-bottom: 15%;
}

h3 {
  color: black;
  margin-bottom: 0px;
}

mat-icon {
  cursor: pointer;
}

div.form-field {
  margin-bottom: 0px;
}

.mat-input-element:disabled {
  color: black;
}

.disabled textarea {
  resize: none;
}

.disabled mat-icon {
  cursor: not-allowed;
  color: darkgray;
}
