<div>
  <h3><input matInput placeholder="Title" [value]="review?.title"></h3>
  <p><input matInput placeholder="description" [value]="review?.description"></p>
  <mat-icon *ngFor="let s of counter(score); let i = index" (click)="getValue(i+1)">
    grade
  </mat-icon>

  <mat-icon *ngFor="let s of counter(config?.maxScore - score); let i = index"
    (click)="getValue(i+1+score)">
    star_outline
  </mat-icon>
</div>

<h1>Config</h1>
<div>
  <p>{{config.writable}}</p>
  <p>{{config.minScore}}</p>
  <p>{{config.maxScore}}</p>
  <p>{{config.scoreSymbol}}</p>
</div>
