<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs='20px'
  fxLayoutAlign="space-around center" *ngIf="reservation">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title flexLayoutAlign='center'>Tenant Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Name: {{(tenant | async)?.name.firstName}}</p>
      <p>Surname: {{(tenant | async)?.name.surname}}</p>
      <p>Email: {{(tenant | async)?.mail}}</p>
      <p>Telephone: {{(tenant | async)?.phone[0].digits}}</p>
    </mat-card-content>

  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Reservation Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Reservation Id: {{reservation?.id}}</p>
      <p>Property Id: {{reservation?.propertyId}}</p>
      <p>Check-in: {{reservation?.checkIn}}</p>
      <p>Check-out: {{reservation?.checkOut}}</p>
      <p>Guests number: {{reservation?.guestNumber}}</p>
    </mat-card-content>

  </mat-card>
  <div id='request'>
    <mat-card class="example-card" *ngIf="!(reservation?.specialRequest === '') ">
      <mat-card-header>
        <mat-card-title>Special requests</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{reservation?.specialRequest}}</p>
      </mat-card-content>

    </mat-card>
  </div>
</div>
