<div id='search-area' fxLayout='row' fxLayoutGap=10%>
  <div fxLayoutAlign='center center'>
    <mat-form-field>
      <input matInput placeholder="Search">
    </mat-form-field>
  </div>
  <div fxLayoutAlign='center center'>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Active</mat-radio-button>
      <mat-radio-button value="2">Inactive</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<table mat-table [dataSource]="tenants">

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> Avatar </th>
    <td mat-cell *matCellDef="let element"><img src="{{element.picture}}" /></td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> Full Name </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef> Mail </th>
    <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef=" let row; columns: displayedColumns;"></tr>
</table>
