table {
  width: 100%;
  padding-top: 1%;
}

img {
  width: 40px;
  height: 40px;
}

th {
  background-color: rgb(197, 197, 197);
  color: black;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: rgb(224, 220, 220);
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  width: 100%;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: auto;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}
